
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
.wrap {
    width:percentage(11/12);
    @include center-block;
}
 @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-info{
    text-align:center;
}
.site-footer {
    background-color:#4A4A4A;
    color:#FFF;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";