$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #404040;
$color__text-input: #404040;
$color__text-input-focus: #404040;
$color__link: #9d81a5;
$color__link-visited: #9d81a5;
$color__link-hover: lighten(#9d81a5, 30%);
$color__text-main: #404040;

$color__border-button:none;
$color__border-button-hover: none;
$color__border-button-focus: none;
$color__border-input: none;
$color__border-abbr: none;
