.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-list {
	li{
		list-style:none;
	}
}

.comment-author {
	img{
		border-radius:100%;
	}
}

.comment {
	margin-bottom:100px;
}