.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	margin-bottom: 100px;
	padding:10px 30px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	@include font-size(3);
	font-family:'Butler Ultra Light';
	text-transform:uppercase;
	a{
		text-decoration:none;
		color:#4A4A4A!important;
		&:hover{
			color:lighten(#4A4A4A,10%);
		}
	}
	
}